.lien{
  color: #fff;
  text-decoration: underline;
  padding: 1em;
  display: inline-block;
}

.layout-fix{
    padding-top: 66px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}